/*  Большой флаг (на кнопке выбора языка). */
.flag-large {
    width: 24px;
    height: 24px;
}
/*  Малый флаг (рядом с элементами
    выпадающего списка). */
.flag-small {
    width: 16px;
    height: 16px;
}
/*  Размер стрелок
    с направлениями перехода. */
.arrow {
    width: 16px;
    height: 16px;
}
/*  Размер галочки, отмечающей
    выбранный пункт выпадающего списка. */
.tick {
    width: 16px;
    height: 16px;
}